@import "../Style/CssFunc";

.main-items-container {
  margin-top: toRem(10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: toRem(40);
}

@media screen and (min-width: 290px) and (max-width: 480px) {
  .items-container {
    width: 95%;
    gap: toRem(15);
  }
}
